    <header class="navigation-header">
    <nav>
      <ul>
        <li><a href="/login/placementCell">Home</a></li>
        <li><a href="/login/placementCell/student">Students</a></li>
        <li> <a href="/login/placementCell/company">Company</a></li>
        <li> <a href="/login/placementCell/student/download" id="downloadLink">Download</a></li>
      </ul>
    </nav>
  </header>