<nav class="navbar">
    <a href="/" class="navbar-logo">    <img src="https://coursereport-production.imgix.net/uploads/school/logo/1323/original/Coding_Ninjas_logo.jpeg?w=200&h=200&dpr=3&q=35" alt="Logo">
</a>
    <ul class="navbar-menu">
      <li class="navbar-item"><a href="/">Home</a></li>
      {{!-- <li class="navbar-item"><a href="/register">Register</a></li>
      <li class="navbar-item"><a href="/login">LogIn</a></li> --}}
      <li class="navbar-item"> <a href="/logout">Logout</a></li>
    </ul>
  </nav>